
body {
    font-family: Arial, sans-serif;
    background-color: #d6d6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.task-tracker-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(136, 0, 0, 0.349);
    width: 100%;
    max-width: 500px;
    border: 1px solid #ddd;
}

h1 {
    text-align: left;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

#taskInput {
    flex-grow: 1;
    padding: 12px 15px;
    border: none;
    font-size: 16px;
    outline: none;
}

#addTaskButton {
    background-color: #5c0431;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#addTaskButton:hover {
    background-color: #750d0d;
}

#addTaskButton .material-icons {
    font-size: 24px;
}

#taskList {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    color: #333;
}

.task-item:last-child {
    border-bottom: none;
}

.task-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
}

.task-text {
    margin-left: 10px;
    line-height: 1.4;
    transition: color 0.2s;
}

.task-checkbox {

    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    position: relative;
}

.task-checkbox:checked {
    background-color: #54a5b6; 
    border-color: #888;
}


.task-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.completed .task-text {
    text-decoration: line-through;
    color: #888;
}


.delete-button {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    margin-left: 15px;
    padding: 5px;
    transition: color 0.2s;
}

.delete-button:hover {
    color: #ff4d4d;
}

.delete-button .material-icons {
    font-size: 20px;
}